@charset "UTF-8";

:root {
    --cor-escura: #012626;
    --cor-menos-escura: #01403A;
    --cor-media: #027368;
    --cor-quase-clara: #038C7F;
    --cor-clara: #04BFAD;
    --preto: #000000;
    --branco: #fff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor-escura);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--branco);
    overflow: hidden;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
    transition: width 0.5s, height 0.5s;
    -o-transition-timing-function: ease;
    transition-delay: 0ms;
}

div#imagem {
    background-image: url(../imagens/fundo-tela-login1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 200px;
}

div#formulario > h1 {
    text-align: center;
    padding-top: 10px;
}

div#formulario > p {
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

