@charset "UTF-8";

:root {
    --cor-escura: #012626;
    --cor-menos-escura: #01403A;
    --cor-media: #027368;
    --cor-quase-clara: #038C7F;
    --cor-clara: #04BFAD;
    --preto: #000000;
    --branco: #fff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor-escura);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--branco);
    overflow: hidden;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
    transition: width 0.5s, height 0.5s;
    -o-transition-timing-function: ease;
    transition-delay: 0ms;
}

div#imagem {
    background-image: url(../imagens/fundo-tela-login1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 200px;
}

div#conteiner-form {
    margin: 0px 10px 0px 10px;
}

div#formulario > h1 {
    text-align: center;
    padding-top: 10px;
}

div#formulario > p {
    text-align: justify;
    padding: 10px 10px 10px 10px;
}

form > div#campo-login, div#campo-senha {
    background-color: var(--cor-quase-clara);
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 5px 0px;
    border-radius: 5px;
    display: block;
}

div#campo-login > label, div#campo-senha > label {
    display: none;
}

div#campo-login > .material-symbols-outlined, div#campo-senha > .material-symbols-outlined {
    color: var(--branco);
    font-size: 1.6em;
    padding: 7px;
}

div#campo-login > input, div#campo-senha > input {
    border:none;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 50px);
    border-radius: 5px;
    transform: translateY(-7px);
}

form > input[type=password] {
    margin-top: 5px;
}
 
form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor-media);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    cursor: crosshair;
    margin-bottom: 5px;
}

form > input[type=submit]:hover {
    background-color: var(--cor-menos-escura);
    text-decoration: underline;
    color: var(--branco);
}

form > input[type=reset] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--branco);
    color: var(--cor-clara);
    border: solid 1px var(--cor-clara);
    border-radius: 5px;
    cursor: cell;
    margin-bottom: 5px;
}

form > input[type=reset]:hover {
    border: none;
    color: var(--branco);
    background-color: var(--cor-escura);
}
